/* App.css */

/* Import the desired Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Apply the custom font to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.app-container {
  margin: 0 auto;
  border: 1px solid orange;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #ffffff;
  color: #000435;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  height: 30px;
  z-index: 1000; /* Set a higher z-index value */
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align text to the right */
}

.nav-links a {
  text-decoration: none;
  color: #000435;
  margin: 5px;
  padding: 5px;
}

.menu-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
}

.ribbon {
  background-color: #000435;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  height: 70px;
}

.footer-links {
  justify-content: center;
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

@keyframes paletteAnimation {
  0% {
    background-color: #3498db;
  }
  25% {
    background-color: #e74c3c;
  }
  50% {
    background-color: #2ecc71;
  }
  75% {
    background-color: #f39c12;
  }
  100% {
    background-color: #9b59b6;
  }
}

.sub-ribbon {
  background-color: #3498db;
  height: 30px;
  width: 100%;
  animation: paletteAnimation 5s infinite alternate; /* Adjust the duration as needed */
}

footer {
  background-color: #000435;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  min-height: 100px;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
  }

  .menu-button {
    display: inline-block;
  }
  .footer-links {
    flex-direction: row; /* Reset to default row direction on smaller screens */
    min-height: auto; /* Reset minimum height on smaller screens */
  }

  .footer-links a {
    white-space: nowrap; /* Prevent wrapping for all links on smaller screens */
  }
}

/* Additional styles for Home component */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
}

.box {
  width: 40%;
  padding: 20px;
  margin: 5px;
  text-align: left;
  transition: transform 0.5s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
}