/* ColorMix.css */

.color-mixer-container {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
  max-width: 90%;
  margin: auto;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .color-mixer-container {
    max-width: 100%;
  }
}
