/* ColorInfo.css */

.color-info-page-container {
  display: flex;
  flex-direction: column; /* Stack the containers vertically */
  align-items: center; /* Center-align the containers */
  max-width: 80%;
  margin: auto;
}

.color-info-container {
  height: 350px; /* Increase the height as needed */
  margin: auto;
  padding: 20px;
  overflow-x: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.color-display {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .color-info-page-container {
    max-width: 100%;
  }
}
