/* ColorInfo.css */

.color-info-page-container {
  display: flex;
  flex-direction: column; /* Stack the containers vertically */
  align-items: center; /* Center-align the containers */
}

.color-info-container {
  height: 400px; /* Increase the height as needed */
  max-width: 600px;
  margin: 10px;
  padding: 20px;
  overflow-x: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.color-display {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
