.color-library-container {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 90%;
  margin: auto;
  overflow: auto;
}

.color-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;
}

.color-item {
  width: calc(20% - 20px);
  text-align: center;
  margin: 5px;
  word-wrap: break-word; /* Allow color names to break into multiple lines */
}

.color-name {
  font-size: 12px; /* Reduced font size for color names */
}

.color-display {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .color-item {
    width: calc(50% - 20px);
  }
}
