/* ColorPalette.css */
.color-palette-container {
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  border: 1px solid gray;
  border-radius: 10px;
}

.color-palette-section {
  margin-top: 5px;
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.color-palette {
  display: flex;
  flex-wrap: nowrap; /* Keep colors in a single line */
  justify-content: flex-start; /* Align colors from the start */
  overflow: auto; /* Enable horizontal scrolling */
  margin-bottom: -20px; /* Compensate for the negative margin in color-palette-color */
}

.color-palette-color {
  width: 80px;
  height: 80px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px; /* Provide a margin at the bottom */
  position: relative;
}

.color-label {
  font-size: 10px;
  color: #000; /* Adjust the text color based on your background */
  position: absolute;
  bottom: -20px; /* Place labels outside the color */
  text-align: center;
}

@media (max-width: 768px) {
  .color-palette-container,
  .color-palette-section,
  .color-palette {
    overflow-x: scroll; /* Enable horizontal scrolling on smaller screens */
  }

  .color-palette-color {
    width: 50px;
    height: 50px;
    margin-bottom: 30px; /* Adjust margin for smaller screens */
  }

  .color-label {
    bottom: -15px; /* Adjust label position for smaller screens */
  }
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}