.color-library-container {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 80%;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column; /* Ensure children stack vertically */
  align-items: flex-start; /* Align children to the start of the cross axis (left) */
}

.color-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;
}

.color-item {
  width: calc(20% - 20px);
  text-align: center;
  margin: 5px;
  word-wrap: break-word; /* Allow color names to break into multiple lines */
}

.color-name {
  font-size: 12px; /* Reduced font size for color names */
}

.color-display {
  margin-bottom: 5px;
}

.load-more-button {
  margin-top: 10px;
  background: blue;
  color: white;
  padding: 10px;
  margin-left: auto; /* Push the button to the right */
}

@media (max-width: 768px) {
  .color-library-container {
	max-width: 100%;
  }
  .color-item {
    width: calc(50% - 20px);
  }
}
