/* PaletteGenerator.css */

.palette-generator-container {
  padding: 20px;
  max-width: 80%;
  margin: auto;
  overflow: auto;
}

.palette-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px; /* Add some margin between options and the palette */
  margin: auto;
  border: 1px solid #ffa500;
  border-radius: 7px;
}

.palette {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  border: 1px solid #ffa500;
  border-radius: 10px;
}

.palette-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px; /* Add some space between colors */
}

.palette-color div {
  font-size: 12px; /* Decrease the size of color codes */
}

.color-display {
  width: 40px; /* Adjust width of each color */
  height: 40px; /* Adjust height of each color */
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .palette-color {
    margin-right: 0; /* Remove margin between colors on smaller screens */
  }

  .color-display {
    width: 30px; /* Adjust the width of each color on smaller screens */
    height: 30px; /* Adjust the height of each color on smaller screens */
  }
}
